<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- log남기는 api를 사용하겠다 -->
	<settings>
		<setting name="logImpl" value="LOG4J"/>
	</settings>
	
	<!-- test1.MemberDTO 를 memberdto라고 하겠다. -->
	<typeAliases>
		<typeAlias type="test1.MemberDTO" alias="memberdto"/> 
		<typeAlias type="test1.BoardDTO" alias="boarddto"/> 
	</typeAliases>
		
</configuration>